<!DOCTYPE html>
<html lang="pt-BR">

<head>
  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1.0" />
  <title>Hotéis</title>

  <!-- CSS  -->
  <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
  <link href="css/materialize.css" type="text/css" rel="stylesheet" media="screen,projection" />
  <link href="css/style.css" type="text/css" rel="stylesheet" media="screen,projection" />
</head>

<body>
  <nav class="teal" role="navigation">
    <div class="nav-wrapper container"><img src="/public/assets/logo-h.png" class="brand-logo" width="45" height="40">
      <ul class="right hide-on-med-and-down">
        <li><a href="#">Menu</a></li>
      </ul>
      <ul id="nav-mobile" class="sidenav">
        <li><a href="#">Menu</a></li>
        <!--sidenav na li abaixo -->
        <li>
          <div class="user-view">
            <div class="background">
              <img src="/public/assets/hostinger.png" alt="vista" width="100" height="40">
            </div>
            <a href="#user"><img class="circle" src="/public/assets/perfil.jpg"></a>
            <a href="#name"><span class="white-text name">Debora Caldas</span></a>
            <a href="#email"><span class="white-text email">deborarmcaldas@uis.pe.senac.br</span></a>
          </div>
        </li>
        <li><a href="#!"><i class="material-icons">home</i>Página Inicial</a></li>
        <li><a href="#!"><i class="material-icons">person</i>Sobre nós</a></li>
        <li>
          <div class="divider"></div>
        </li>
        <li><a class="subheader">Submenu</a></li>
        <li><a class="waves-effect" href="#!">Ajuda</a></li>
      </ul>
      <a href="#" data-target="nav-mobile" class="sidenav-trigger"><i class="material-icons">menu</i></a>
    </div>
  </nav>
  <div class="section no-pad-bot" id="index-banner">
    <div class="container">
      <br><br>
      <h1 class="header center" style="color: tan;">Rede Hills</h1>
      <div class="row center">
        <h5 class="header col s12" style="color: grey;">Hotéis nas melhores localizações!</h5>
      </div>
      <div class="row center">
        <a href="http://materializecss.com/getting-started.html" id="download-button"
          class="btn-large waves-effect waves-light tan">Pesquisar</a>
      </div>
      <br><br>

    </div>
  </div>


  <div class="container">
    <div class="section">

      <!--   Icon Section   -->
      <div class="row">
        <div class="col s12 m4">
          <div>
            <h5 class="center" style="color: grey;">Bridge Hotel</h5>
            <div class="card">
              <div class="card-image">
                <img src="/public/assets/ives-hotel.png">
                
                <a class="btn-floating halfway-fab waves-effect waves-light tomato"><i class="material-icons">add</i></a>
              </div>
              <div class="card-content">
                <p>I am a very simple card. I am good at containing small bits of information. I am convenient because I
                  require little markup to use effectively.</p>
              </div>
            </div>

          </div>
        </div>

        <div class="col s12 m4">
          <div>
            <h5 class="center" style="color: grey;">Lagune Hotel</h5>
            <div class="card">
              <div class="card-image">
                <img src="/public/assets/ives-hotel.png">
                
                <a class="btn-floating halfway-fab waves-effect waves-light tomato"><i class="material-icons">add</i></a>
              </div>
              <div class="card-content">
                <p>I am a very simple card. I am good at containing small bits of information. I am convenient because I
                  require little markup to use effectively.</p>
              </div>
            </div>
          </div>
        </div>

        <div class="col s12 m4">
          <div>
            
            <h5 class="center" style="color: grey;">Master Hotel</h5>
            <div class="card">
              <div class="card-image">
                <img src="/public/assets/caption.png">
               
                <a class="btn-floating halfway-fab waves-effect waves-light tomato"><i class="material-icons">add</i></a>
              </div>
              <div class="card-content">
                <p>I am a very simple card. I am good at containing small bits of information. I am convenient because I
                  require little markup to use effectively.</p>
              </div>
            </div>
          </div>
        </div>
      </div>

    </div>
    <br><br>
  </div>

  <footer class="page-footer tomato">
    <div class="container">
      <div class="row">
        <div class="col l6 s12">
          <h5 class="white-text">Sobre nós</h5>
          <p class="white-text ">A Rede Hills é usada para comparar preços baixos de hotéis, voos e cruzeiros, 
            para reservar excursões e atrações badaladas, além de para fazer reservas em ótimos restaurantes. Somos os melhores
          companheiros de viagem! </p>


        </div>
        <div class="col l3 s12">
          <h5 class="white-text">Settings</h5>
          <ul>
            <li><a class="white-text" href="#!">Link 1</a></li>
            <li><a class="white-text" href="#!">Link 2</a></li>
            <li><a class="white-text" href="#!">Link 3</a></li>
            <li><a class="white-text" href="#!">Link 4</a></li>
          </ul>
        </div>
        <div class="col l3 s12">
          <h5 class="white-text">Connect</h5>
          <ul>
            <li><a class="white-text" href="#!"></a></li>
            <li><a class="white-text" href="#!">Link 2</a></li>
            <li><a class="white-text" href="#!">Link 3</a></li>
            <li><a class="white-text" href="#!">Link 4</a></li>
          </ul>
        </div>
      </div>
    </div>
    <div class="footer-copyright">
      <div class="container">
        Feito por <a class="orange-text text-lighten-3" href="http://materializecss.com">Débora Rafaela</a>
      </div>
    </div>
  </footer>


  <!--  Scripts-->
  <script src="https://code.jquery.com/jquery-2.1.1.min.js"></script>
  <script src="js/materialize.js"></script>
  <script src="js/init.js"></script>

</body>

</html>